<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egor.balusha">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:name=".util.BalushaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Balusha">
        <activity
            android:name=".activities.OwnerInfoAdd"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.PetInfoAdd"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.PetBio"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.PetInfoEdit"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.OwnerBio"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.OwnerInfoEdit"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.VaccinationList"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.VaccinationAdd"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.VaccinationEdit"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.VaccinationItem"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.HelminthTreatList"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.HelminthTreatAdd"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.HelminthTreatEdit"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.HelminthTreatItem"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.FleasTicksList"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.FleasTicksAdd"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.FleasTicksEdit"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.FleasTicksItem"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.ReproductionList"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.ReproductionAdd"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.ReproductionEdit"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.ReproductionItem"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha" />
        <activity android:name=".activities.NewNotifActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Balusha"/>
        <activity android:name=".util.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true" />
    </application>

</manifest>